# App
PORT="3000"

# Database
DATABASE_URL="postgresql://postgres:postgres@database:5432/esliph_finance"
DATABASE_SSL="false"
DATABASE_POOL_MAX="10"

# Docker

## Postgres
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="esliph_finance"
POSTGRES_PORT="5432"
